Repository jackwatters45/lax-db: changes, and which lefthook commands are due for each by the changed paths.
All: check, ruff-check, ruff-format

check:
  run: bunx biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

ruff-check:
  run: ruff check --fix {staged_files}

ruff-format:
  run: ruff format {staged_files}

chore: update .gitignore for scrapy
  packages/pipeline/.gitignore
  packages/pipeline/.scrapy/httpcache/ncaa_directory/a5/a5ee2fe6ddb19f0c8ae713f92a04f497db0511f6/meta
  packages/pipeline/.scrapy/httpcache/ncaa_directory/a5/a5ee2fe6ddb19f0c8ae713f92a04f497db0511f6/pickled_meta
  packages/pipeline/.scrapy/httpcache/ncaa_directory/a5/a5ee2fe6ddb19f0c8ae713f92a04f497db0511f6/request_body
  packages/pipeline/.scrapy/httpcache/ncaa_directory/a5/a5ee2fe6ddb19f0c8ae713f92a04f497db0511f6/request_headers
  packages/pipeline/.scrapy/httpcache/ncaa_directory/a5/a5ee2fe6ddb19f0c8ae713f92a04f497db0511f6/response_body
  packages/pipeline/.scrapy/httpcache/ncaa_directory/a5/a5ee2fe6ddb19f0c8ae713f92a04f497db0511f6/response_headers
  packages/pipeline/.scrapy/httpcache/ncaa_directory/c5/c5b042bd693989b718033de935aace071e6f061f/meta
  packages/pipeline/.scrapy/httpcache/ncaa_directory/c5/c5b042bd693989b718033de935aace071e6f061f/pickled_meta
  packages/pipeline/.scrapy/httpcache/ncaa_directory/c5/c5b042bd693989b718033de935aace071e6f061f/request_body
  packages/pipeline/.scrapy/httpcache/ncaa_directory/c5/c5b042bd693989b718033de935aace071e6f061f/request_headers
  packages/pipeline/.scrapy/httpcache/ncaa_directory/c5/c5b042bd693989b718033de935aace071e6f061f/response_body
  packages/pipeline/.scrapy/httpcache/ncaa_directory/c5/c5b042bd693989b718033de935aace071e6f061f/response_headers
  packages/pipeline/.scrapy/httpcache/ncaa_directory/ee/ee9b4f8f673c4a138f9fe51ea6bd86ea451eacc2/meta
  packages/pipeline/.scrapy/httpcache/ncaa_directory/ee/ee9b4f8f673c4a138f9fe51ea6bd86ea451eacc2/pickled_meta
  packages/pipeline/.scrapy/httpcache/ncaa_directory/ee/ee9b4f8f673c4a138f9fe51ea6bd86ea451eacc2/request_body
  packages/pipeline/.scrapy/httpcache/ncaa_directory/ee/ee9b4f8f673c4a138f9fe51ea6bd86ea451eacc2/request_headers
  packages/pipeline/.scrapy/httpcache/ncaa_directory/ee/ee9b4f8f673c4a138f9fe51ea6bd86ea451eacc2/response_body
  packages/pipeline/.scrapy/httpcache/ncaa_directory/ee/ee9b4f8f673c4a138f9fe51ea6bd86ea451eacc2/response_headers
  packages/pipeline/sst.pyi
Due: none

chore: update .gitignore for scrapy (#11)
  packages/pipeline/.gitignore
  packages/pipeline/.scrapy/httpcache/ncaa_directory/a5/a5ee2fe6ddb19f0c8ae713f92a04f497db0511f6/meta
  packages/pipeline/.scrapy/httpcache/ncaa_directory/a5/a5ee2fe6ddb19f0c8ae713f92a04f497db0511f6/pickled_meta
  packages/pipeline/.scrapy/httpcache/ncaa_directory/a5/a5ee2fe6ddb19f0c8ae713f92a04f497db0511f6/request_body
  packages/pipeline/.scrapy/httpcache/ncaa_directory/a5/a5ee2fe6ddb19f0c8ae713f92a04f497db0511f6/request_headers
  packages/pipeline/.scrapy/httpcache/ncaa_directory/a5/a5ee2fe6ddb19f0c8ae713f92a04f497db0511f6/response_body
  packages/pipeline/.scrapy/httpcache/ncaa_directory/a5/a5ee2fe6ddb19f0c8ae713f92a04f497db0511f6/response_headers
  packages/pipeline/.scrapy/httpcache/ncaa_directory/c5/c5b042bd693989b718033de935aace071e6f061f/meta
  packages/pipeline/.scrapy/httpcache/ncaa_directory/c5/c5b042bd693989b718033de935aace071e6f061f/pickled_meta
  packages/pipeline/.scrapy/httpcache/ncaa_directory/c5/c5b042bd693989b718033de935aace071e6f061f/request_body
  packages/pipeline/.scrapy/httpcache/ncaa_directory/c5/c5b042bd693989b718033de935aace071e6f061f/request_headers
  packages/pipeline/.scrapy/httpcache/ncaa_directory/c5/c5b042bd693989b718033de935aace071e6f061f/response_body
  packages/pipeline/.scrapy/httpcache/ncaa_directory/c5/c5b042bd693989b718033de935aace071e6f061f/response_headers
  packages/pipeline/.scrapy/httpcache/ncaa_directory/ee/ee9b4f8f673c4a138f9fe51ea6bd86ea451eacc2/meta
  packages/pipeline/.scrapy/httpcache/ncaa_directory/ee/ee9b4f8f673c4a138f9fe51ea6bd86ea451eacc2/pickled_meta
  packages/pipeline/.scrapy/httpcache/ncaa_directory/ee/ee9b4f8f673c4a138f9fe51ea6bd86ea451eacc2/request_body
  packages/pipeline/.scrapy/httpcache/ncaa_directory/ee/ee9b4f8f673c4a138f9fe51ea6bd86ea451eacc2/request_headers
  packages/pipeline/.scrapy/httpcache/ncaa_directory/ee/ee9b4f8f673c4a138f9fe51ea6bd86ea451eacc2/response_body
  packages/pipeline/.scrapy/httpcache/ncaa_directory/ee/ee9b4f8f673c4a138f9fe51ea6bd86ea451eacc2/response_headers
  packages/pipeline/sst.pyi
Due: none

chore: remove zero for now
  .env.example
  CLAUDE.md
  README.md
  infra/index.ts
  infra/secret.ts
  packages/frontend/package.json
  packages/frontend/src/routes/__root.tsx
  packages/zero/.gitignore
  packages/zero/package.json
  packages/zero/src/schemas.ts
  packages/zero/sst-env.d.ts
  sst-env.d.ts
Due: check

chore: remove zero for now (#12)
  .env.example
  CLAUDE.md
  README.md
  infra/index.ts
  infra/secret.ts
  packages/frontend/package.json
  packages/frontend/src/routes/__root.tsx
  packages/zero/.gitignore
  packages/zero/package.json
  packages/zero/src/schemas.ts
  packages/zero/sst-env.d.ts
  sst-env.d.ts
Due: check

chore
  AGENTS.md
  biome.json
  bun.lockb
  package.json
  packages/frontend/biome.json
Due: check

chore: update Biome to 2.1.2 and fix formatting in docs (#13)
  AGENTS.md
  biome.json
  bun.lockb
  package.json
  packages/frontend/biome.json
Due: check

chore: add turbo dep
  bun.lockb
  package.json
  turbo.json
Due: check

chore: add turbo dep (#14)
  bun.lockb
  package.json
  turbo.json
Due: check

feat: super basic better auth + polar sh setup
  .env.example
  bun.lockb
  infra/secret.ts
  packages/api/src/auth.ts
  packages/api/src/index.ts
  packages/core/package.json
  packages/core/src/auth.ts
  packages/frontend/package.json
  packages/frontend/src/lib/auth-client.ts
  packages/frontend/src/routes/api/auth/$.ts
  packages/frontend/src/utils/auth/server.ts
  packages/frontend/src/utils/auth/sign-in.ts
  packages/frontend/src/utils/auth/sign-out.ts
  packages/frontend/src/utils/auth/sign-up.ts
  packages/frontend/tsconfig.json
Due: check

feat: super basic better auth + polar sh setup (#15)
  .env.example
  bun.lockb
  infra/secret.ts
  packages/api/src/auth.ts
  packages/api/src/index.ts
  packages/core/package.json
  packages/core/src/auth.ts
  packages/frontend/package.json
  packages/frontend/src/lib/auth-client.ts
  packages/frontend/src/routes/api/auth/$.ts
  packages/frontend/src/utils/auth/server.ts
  packages/frontend/src/utils/auth/sign-in.ts
  packages/frontend/src/utils/auth/sign-out.ts
  packages/frontend/src/utils/auth/sign-up.ts
  packages/frontend/tsconfig.json
Due: check

bump: sst 3.17.10
  package.json
Due: check

bump: sst 3.17.10 (#16)
  package.json
Due: check

chore: remove open-auth
  infra/api.ts
  infra/auth.ts
  infra/index.ts
  sst.config.ts
Due: check

chore: remove open-auth (#17)
  infra/api.ts
  infra/auth.ts
  infra/index.ts
  sst.config.ts
Due: check

chore: remove sync-pipeline dev command
  infra/database.ts
Due: check

chore: remove sync-pipeline dev command (#18)
  infra/database.ts
Due: check

chore: update core tsconfig
  packages/core/src/drizzle/index.ts
  packages/core/src/drizzle/transaction.ts
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
  packages/core/src/util/actor.ts
  packages/core/src/util/log.ts
  packages/core/tsconfig.json
Due: check

chore: update core tsconfig (#19)
  packages/core/src/drizzle/index.ts
  packages/core/src/drizzle/transaction.ts
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
  packages/core/src/util/actor.ts
  packages/core/src/util/log.ts
  packages/core/tsconfig.json
Due: check

chore: fix type errors + add openAPI plugin to better auth
  packages/core/src/auth.ts
  packages/frontend/src/routeTree.gen.ts
  packages/pipeline/scraped_data/20250723_011424/conferences.json
  packages/pipeline/scraped_data/20250723_011424/schools.json
  packages/pipeline/scraped_data/20250723_011424/sports.json
  packages/pipeline/sst.pyi
  sst-env.d.ts
Due: check

chore: fix type errors + add openAPI plugin to better auth (#20)
  packages/core/src/auth.ts
  packages/frontend/src/routeTree.gen.ts
  packages/pipeline/scraped_data/20250723_011424/conferences.json
  packages/pipeline/scraped_data/20250723_011424/schools.json
  packages/pipeline/scraped_data/20250723_011424/sports.json
  packages/pipeline/sst.pyi
  sst-env.d.ts
Due: check

chore: update dns for open-control
  infra/dns.ts
  infra/opencontrol.ts
Due: check

chore: update dns for open-control (#21)
  infra/dns.ts
  infra/opencontrol.ts
Due: check

chore: add llms folder for llms.txt files
  AGENTS.md
  CLAUDE.md
  llms/README.md
  llms/better-auth.txt
Due: check

chore: add llms folder for llms.txt files (#22)
  AGENTS.md
  CLAUDE.md
  llms/README.md
  llms/better-auth.txt
Due: check

chore: update bun.lockb
  bun.lockb
Due: none

chore: update bun.lockb (#23)
  bun.lockb
Due: none

chore: add tanstack-router + move effect-ts llm.txt files
  llms/effect-ts/llms-full.txt
  llms/effect-ts/llms-small.txt
  llms/effect-ts/llms.txt
  llms/react-router.txt
Due: none

chore: add tanstack-router + move effect-ts llm.txt files (#24)
  llms/effect-ts/llms-full.txt
  llms/effect-ts/llms-small.txt
  llms/effect-ts/llms.txt
  llms/react-router.txt
Due: none

chore: init changesets
  .changeset/README.md
  .changeset/config.json
Due: check

chore: init changesets (#25)
  .changeset/README.md
  .changeset/config.json
Due: check

feat: better-auth schema
  packages/core/src/user/auth-schema.sql.ts
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
Due: check

feat: better-auth schema (#26)
  packages/core/src/user/auth-schema.sql.ts
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
Due: check

chore: rename old goalbound references
  packages/core/migrations/0000_furry_vanisher.sql
  packages/core/migrations/meta/0000_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/package.json
  packages/pipeline/AGENTS.md
  packages/pipeline/IMPLEMENTATION_PLAN.md
  packages/pipeline/pyproject.toml
  packages/pipeline/src/extractors/base_extractor.py
Due: check, ruff-check, ruff-format

chore: rename old goalbound references (#27)
  packages/core/migrations/0000_furry_vanisher.sql
  packages/core/migrations/meta/0000_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/package.json
  packages/pipeline/AGENTS.md
  packages/pipeline/IMPLEMENTATION_PLAN.md
  packages/pipeline/pyproject.toml
  packages/pipeline/src/extractors/base_extractor.py
Due: check, ruff-check, ruff-format

chore: update core readme
  packages/core/README.md
Due: check

chore: update core readme (#28)
  packages/core/README.md
Due: check

chore: changesets release gh action
  .github/workflows/release.yml
Due: none

chore: changesets release gh action (#29)
  .github/workflows/release.yml
Due: none

chore: add claude ci/cd
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

chore: add claude ci/cd (#30)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Path conditions:
  check: any of: *.{js,ts,jsx,tsx,json,md}
  ruff-check: any of: packages/pipeline/**/*.py
  ruff-format: any of: packages/pipeline/**/*.py
